---
id: '26'
title: 'test: imp headless verification'
slug: test-imp-headless-verification
status: closed
priority: 2
created_at: '2026-03-23T21:47:14.069824Z'
updated_at: '2026-03-23T21:47:16.267717Z'
closed_at: '2026-03-23T21:47:16.267717Z'
verify: echo pass
is_archived: true
history:
- attempt: 1
  started_at: '2026-03-23T21:47:16.130044Z'
  finished_at: '2026-03-23T21:47:16.198769Z'
  duration_secs: 0.068
  result: pass
  exit_code: 0
outputs:
  text: pass
---
